.card {
    display: flex;
    justify-content: center;
}

.timerBox {
    border: solid 1px grey;
    border-radius: 10px;
    width: 130px;
    padding: 10px;
    text-align: center;
}
h1 {
    font-size: 42px;
    font-family: 'Noto Sans', sans-serif;
}