<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Trajan</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{../css/style.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body>
<div class="main-container">
    <div class="list-container" id="task-list">
        <h1 class="list-header">To-Do List</h1>
        <div class="add-task">
            <input type="text" autocomplete="off" placeholder="Add New Task" v-model="task.name" @keyup.enter="newItem" class="task-input">
            <input type="submit" value="" class="submit-task" @click="newItem" title="Add Task">
        </div>
        <ul class="task-list">
            <li class="task-list-item">
                <label class="task-list-item-label">
                    <input type="checkbox">
                    <span>{{task.name}}</span>
                </label>
                <span @click="delItem(task)" class="delete-btn" title="Delete Task">{{task.del}}</span>
            </li>
        </ul>
    </div>
    <div class="card">
        <div class="timerBox">
            <h1 id="timer"></h1>
        </div>
        <div class="circle">
            <span class="circle__btn">
                <svg xmlns="http://www.w3.org/2000/svg" class="pause" id="pause" viewBox="0 0 512 512" width="48"><path d="M208 432h-48a16 16 0 01-16-16V96a16 16 0 0116-16h48a16 16 0 0116 16v320a16 16 0 01-16 16zM352 432h-48a16 16 0 01-16-16V96a16 16 0 0116-16h48a16 16 0 0116 16v320a16 16 0 01-16 16z"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="play" id="play" viewBox="0 0 512 512" width="48"><path d="M133 440a35.37 35.37 0 01-17.5-4.67c-12-6.8-19.46-20-19.46-34.33V111c0-14.37 7.46-27.53 19.46-34.33a35.13 35.13 0 0135.77.45l247.85 148.36a36 36 0 010 61l-247.89 148.4A35.5 35.5 0 01133 440z"/></svg>
            </span>
            <span class="circle__back-1"></span>
            <span class="circle__back-2"></span>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{../js/timer.js}"></script>
</body>

</html>